# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
/build/
.idea
.vertx

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

vertx-demo/gradle
vertx-demo/build
vertx-demo/out
vertx-kue-demo/build
vertx-kue-demo/kue-core/build
vertx-kue-demo/kue-core/out
vertx-kue-demo/kue-example/build
vertx-kue-demo/kue-example/out
vertx-kue-demo/kue-http/build
vertx-kue-demo/kue-http/out
